# Turning OCR lables into a table, based on bounding box coords

In [1]:
#import libraries
import json
import pandas as pd
import itertools
import collections
import statistics
import numpy as np

In [9]:
#load data and poke around a bit
f = open("HP_out/sea19631966196800natib_0008.handprint-microsoft.json")
data = json.load(f)

In [10]:
data["analyzeResult"]["readResults"][0]['lines'][4]

{'appearance': {'style': {'confidence': 0.909, 'name': 'handwriting'}},
 'boundingBox': [1122, 192, 1159, 193, 1157, 219, 1121, 218],
 'text': '154',
 'words': [{'boundingBox': [1121, 192, 1157, 193, 1157, 219, 1121, 218],
   'confidence': 0.997,
   'text': '154'}]}

In [11]:
for i in data['analyzeResult']['readResults'][0]['lines']:
    print(i['boundingBox'])
    print(i['text'])

[487, 180, 483, 215, 465, 213, 469, 178]
No
[147, 183, 418, 186, 417, 218, 146, 215]
2374 Pt. h. NigriPENNis
[515, 179, 616, 180, 616, 215, 515, 214]
21 July
[755, 187, 988, 186, 988, 212, 755, 214]
0 0 24' N 1760 30'W
[1122, 192, 1159, 193, 1157, 219, 1121, 218]
154
[1237, 189, 1288, 186, 1289, 208, 1238, 209]
mod
[1366, 177, 1479, 176, 1480, 193, 1366, 196]
LT 2X / MM
[1365, 199, 1488, 198, 1489, 215, 1365, 217]
R+ 2x1mm
[1707, 194, 1749, 196, 1749, 215, 1706, 214]
BS
[1818, 193, 1882, 194, 1882, 215, 1818, 214]
SKIN
[1916, 189, 2041, 192, 2040, 218, 1916, 214]
Bulmer 937
[135, 227, 207, 227, 207, 251, 135, 250]
2375
[242, 223, 457, 227, 457, 257, 242, 254]
PattiNis pacificus
[762, 227, 997, 228, 997, 252, 762, 251]
00 38' N 1760 35' W
[1106, 228, 1164, 230, 1164, 254, 1106, 253]
457
[1248, 231, 1304, 231, 1305, 253, 1248, 254]
Light
[1606, 222, 1629, 222, 1630, 237, 1607, 237]
M
[1380, 237, 1552, 236, 1552, 254, 1380, 256]
725 /75 4 X4mm
[1715, 237, 1744, 236, 1744, 254, 1715, 255]
3 S
[1914, 229, 2033, 229, 2033, 255, 1914, 254]
Huber 842
[175, 271, 216, 272, 216, 295, 172, 301]
76
[240, 269, 403, 268, 403, 295, 240, 296]
StarNA fuscAtA
[515, 264, 617, 266, 616, 298, 514, 295]
22 dny
[755, 269, 1000, 268, 1000, 292, 755, 293]
60 27's 1750 57W
[1119, 272, 1175, 272, 1176, 295, 1119, 295]
192
[1256, 272, 1310, 270, 1310, 289, 1257, 290]
mod
[1379, 268, 1576, 265, 1576, 283, 1379, 288]
L. testes 4 x2 mm
[1815, 271, 1868, 272, 1868, 295, 1813, 293]
Sk El
[1915, 271, 2029, 271, 2029, 293, 1915, 293]
Bulaor 938
[173, 308, 213, 307, 212, 331, 172, 332]
77
[235, 307, 429, 305, 429, 333, 235, 337]
Fragata Ariil
[749, 308, 1012, 307, 1012, 332, 749, 333]
60 35's 1750 52'W
[1807, 309, 1862, 309, 1861, 332, 1806, 332]
Alco
[1913, 308, 2023, 308, 2022, 331, 1913, 331]
Huber 909
[1392, 332, 1530, 331, 1530, 351, 1392, 353]
LT 17 x 8mm
[173, 348, 203, 348, 203, 371, 173, 372]
78
[753, 346, 992, 348, 992, 373, 753, 369]
00 35' 5 1750 5l'W
[1392, 351, 1543, 353, 1542, 375, 1392, 373]
RT 15 x 6 mm
[1822, 348, 1881, 348, 1880, 373, 1821, 373]
SKIN
[1914, 347, 2021, 348, 2021, 371, 1914, 370]
PEARSON 34
[172, 389, 203, 388, 203, 412, 172, 413]
79
[243, 387, 431, 382, 431, 412, 243, 416]
StirNA fusente
[461, 375, 496, 376, 495, 401, 459, 400]
-
[513, 384, 609, 389, 606, 420, 512, 413]
23 Jily
[752, 387, 988, 389, 988, 415, 752, 413]
3º 40'5 174.33'W
[1823, 391, 1872, 392, 1872, 414, 1821, 413]
Alco
[1913, 389, 2023, 389, 2023, 410, 1913, 410]
Huber 846
[174, 429, 205, 429, 204, 450, 174, 450]
80
[1939, 422, 1955, 424, 1954, 440, 1938, 438]
11
[1985, 426, 2034, 428, 2032, 451, 1983, 449]
847
[233, 462, 445, 464, 445, 495, 233, 493]
ProcolostarNA crowdER
[462, 459, 489, 460, 488, 480, 461, 479]
-
[748, 464, 1006, 466, 1005, 496, 747, 494]
030 25'5 1740 20'W
[1101, 466, 1141, 467, 1141, 494, 1101, 493]
49
[1214, 452, 1290, 450, 1291, 468, 1214, 470]
old Bp
[1608, 460, 1632, 457, 1633, 471, 1609, 474]
M
[572, 460, 570, 482, 554, 480, 556, 458]
=
[1851, 471, 1848, 489, 1833, 487, 1835, 469]
=
[173, 467, 204, 468, 204, 492, 173, 491]
81
[173, 505, 204, 505, 204, 528, 174, 528]
82
[237, 502, 432, 503, 432, 536, 237, 535]
phasthow laptrus
[512, 502, 622, 506, 621, 539, 511, 533]
27 duly
[755, 501, 986, 506, 985, 537, 755, 533]
8047's 172051'w
[1106, 513, 1171, 511, 1169, 534, 1106, 536]
325
[1233, 504, 1297, 502, 1298, 527, 1232, 530]
Light
[1365, 497, 1524, 496, 1524, 517, 1365, 518]
L.1 . 7×5mm
[1743, 514, 1755, 514, 1755, 533, 1742, 532]
S
[1821, 506, 1887, 512, 1884, 537, 1819, 532]
SKIN
[1914, 506, 2039, 506, 2039, 535, 1914, 535]
Bulmer 945
[177, 544, 209, 543, 209, 568, 176, 568]
83
[466, 542, 493, 544, 491, 564, 464, 561]
-
[527, 545, 611, 549, 610, 574, 526, 569]
3 Aug
[759, 544, 1000, 546, 1000, 573, 759, 571]
100 36 5 1700 40'W
[1099, 544, 1158, 544, 1157, 569, 1099, 569]
367
[1809, 549, 1869, 552, 1868, 575, 1807, 572]
Alco
[1807, 549, 2036, 552, 2035, 576, 1807, 573]
Alco HubEr 887
[1630, 569, 1659, 567, 1660, 587, 1631, 588]
CN
[178, 584, 368, 584, 368, 612, 178, 612]
84 pt. cooki
[757, 585, 1007, 585, 1008, 611, 757, 613]
100 3115 1700 33lw
[1100, 586, 1143, 586, 1142, 611, 1099, 610]
141
[1236, 587, 1346, 587, 1346, 608, 1236, 607]
Mody white
[1371, 587, 1541, 588, 1541, 606, 1371, 605]
L. +15+15 2X/mm
[1722, 592, 1771, 592, 1772, 614, 1721, 615]
& S
[1795, 589, 2032, 589, 2032, 611, 1795, 612]
Wingt SKN Bulmer 946
[577, 589, 575, 602, 562, 601, 563, 588]
=
[1367, 607, 1512, 607, 1512, 626, 1367, 626]
BP Forthey
[1609, 621, 2037, 625, 2036, 652, 1609, 644]
CN (tistas Black Skin Chandler 18
[1612, 611, 1635, 612, 1634, 626, 1611, 624]
M
[182, 622, 215, 623, 213, 649, 180, 647]
85
[514, 624, 684, 627, 683, 656, 513, 651]
4 5Aug.
[759, 626, 1026, 626, 1026, 651, 759, 651]
50 38'5 1650 281w
[1102, 623, 1157, 624, 1158, 648, 1101, 648]
162
[1226, 633, 1561, 629, 1562, 646, 1226, 651]
LETTHEBULL, L. Fishis 3x/24
[180, 662, 359, 662, 358, 695, 180, 694]
86 PT. Alba
[759, 663, 1022, 663, 1022, 695, 759, 694]
30 16' 5 163 0 17 'W
[1098, 665, 1154, 668, 1153, 697, 1098, 695]
261
[1219, 657, 1277, 658, 1277, 678, 1218, 678]
mod
[1364, 654, 1571, 651, 1572, 670, 1365, 675]
2. 72tis 2x/mm
[1625, 655, 1657, 655, 1657, 670, 1625, 670]
ここ
[1769, 679, 1779, 678, 1780, 693, 1769, 694]
S
[1800, 666, 2026, 666, 2026, 688, 1801, 688]
Skintwing Bulmer 956
[243, 704, 387, 699, 388, 735, 243, 740]
Bygis Alla
[762, 703, 1015, 702, 1015, 731, 762, 732]
20 29'S 1620 3014
[1101, 705, 1131, 709, 1129, 738, 1098, 735]
7/
[1226, 702, 1302, 702, 1300, 730, 1226, 729]
Light.
[1374, 696, 1543, 691, 1544, 708, 1375, 713]
OUAry 7× 3mm
[1836, 702, 2037, 706, 2037, 730, 1836, 726]
Skin |Huber 923
[1782, 713, 1781, 725, 1768, 724, 1769, 713]
V
[178, 713, 214, 712, 214, 738, 178, 739]
87
[1389, 714, 1544, 709, 1545, 729, 1389, 732]
OUR Very FINE
[181, 747, 212, 744, 211, 765, 180, 768]
88
[240, 744, 432, 741, 432, 774, 240, 776]
NEso grigata alb .
[515, 741, 582, 746, 581, 770, 515, 766]
8 Aug
[766, 746, 971, 739, 972, 771, 767, 778]
off tarvis Island
[1102, 745, 1132, 745, 1130, 773, 1099, 773]
61
[1379, 733, 1475, 733, 1475, 752, 1379, 753]
BP lors
[1384, 751, 1549, 748, 1549, 767, 1384, 770]
Fistas 6x4mm
[1606, 733, 1638, 733, 1638, 747, 1603, 753]
CN
[1919, 743, 2038, 743, 2037, 769, 1919, 768]
Bulmır765
[181, 783, 491, 778, 492, 809, 182, 814]
89 OchAnodromalEncorton 8
[765, 784, 1007, 783, 1007, 811, 765, 813]
00 20'5 1600 47 W
[1088, 785, 1153, 787, 1152, 815, 1087, 815]
32.5
[1222, 785, 1305, 781, 1306, 809, 1222, 812]
Light
[1367, 782, 1513, 783, 1513, 803, 1367, 802]
LT 11.5Mm
[1607, 773, 1681, 772, 1682, 789, 1607, 789]
smolt
[524, 786, 607, 790, 606, 810, 523, 805]
10 Aug.
[1754, 793, 1767, 792, 1767, 809, 1754, 810]
S
[1916, 784, 2039, 786, 2038, 810, 1916, 809]
Bulmer 969
[485, 791, 492, 871, 471, 873, 463, 793]
of ..
[1369, 814, 1497, 815, 1497, 828, 1369, 826]
OVAry / 3x 6m
[1608, 813, 1688, 810, 1689, 824, 1608, 827]
molt
[182, 830, 213, 828, 212, 851, 181, 853]
90
[237, 822, 426, 822, 426, 854, 237, 854]
Sterna fuscata
[520, 827, 700, 830, 700, 853, 520, 851]
14 August 1966
[759, 823, 996, 820, 997, 850, 759, 854]
off Baker Island
[1078, 828, 1137, 835, 1133, 860, 1076, 853]
169 g
[1814, 823, 1905, 823, 1905, 845, 1814, 846]
Alcoholle
[1917, 823, 2030, 823, 2030, 844, 1917, 845]
Huber 927
[1355, 853, 1491, 854, 1491, 866, 1355, 865]
restes. L. 91'5 mm
[1600, 849, 1778, 847, 1778, 860, 1600, 862]
Slight must avisty In back
[175, 862, 200, 863, 199, 892, 174, 891]
91
[1076, 870, 1128, 880, 1124, 899, 1072, 889]
200 g
[1205, 870, 1314, 870, 1314, 891, 1205, 891]
LIGHT - med
[1348, 873, 1479, 874, 1479, 894, 1348, 893]
3P to reFeatheral
[1600, 861, 1797, 859, 1797, 873, 1601, 876]
rest of bits al uw preihe.
[1602, 872, 1686, 870, 1687, 883, 1602, 885]
1 w molt
[1762, 873, 1788, 874, 1788, 891, 1763, 889]
S.
[172, 901, 208, 905, 207, 932, 171, 929]
92
[1072, 905, 1123, 915, 1119, 938, 1069, 929]
153g.
[1372, 893, 1483, 893, 1484, 909, 1372, 911]
17 573 ~ ~
[1542, 895, 1591, 900, 1589, 921, 1539, 915]
BP 1/10
[1783, 911, 1782, 927, 1772, 928, 1772, 912]
CA
[1395, 912, 1532, 912, 1532, 929, 1395, 929]
R $ 3x 3 MM.
[1809, 902, 1908, 898, 1909, 922, 1810, 927]
Alcoholic
[1915, 904, 2032, 903, 2032, 924, 1915, 926]
Huber 926
[1082, 948, 1126, 958, 1120, 980, 1077, 969]
199 9.
[1376, 932, 1513, 932, 1513, 952, 1376, 952]
275 x 3 mm.
[1615, 927, 1670, 927, 1670, 943, 1615, 944]
Moly
[176, 947, 212, 947, 212, 974, 176, 974]
93
[1401, 952, 1513, 945, 1514, 964, 1401, 970]
R+ 3x71.
[1991, 946, 2036, 947, 2035, 968, 1989, 967]
928
[172, 980, 217, 984, 213, 1015, 168, 1012]
94
[1077, 987, 1117, 993, 1113, 1013, 1073, 1008]
155g.
[1375, 972, 1582, 973, 1582, 992, 1375, 991]
prag11 x7am, oxiduct 3 mm
[1604, 977, 1655, 977, 1655, 993, 1604, 994]
Malt
[1940, 978, 1963, 979, 1962, 995, 1940, 993]
1 |
[1363, 997, 1416, 995, 1417, 1013, 1363, 1014]
No B.P
[1985, 987, 2027, 989, 2027, 1011, 1985, 1009]
929
[175, 1026, 219, 1028, 216, 1058, 172, 1057]
95
[1077, 1025, 1119, 1033, 1114, 1056, 1073, 1048]
168g.
[1379, 1011, 1691, 1009, 1692, 1030, 1380, 1033]
ogloxe Low 2 ovidudt Molt
[1378, 1032, 1578, 1032, 1578, 1051, 1378, 1052]
BP starting to refeather
[1985, 1028, 2023, 1029, 2022, 1050, 1984, 1049]
930
[176, 1062, 217, 1063, 216, 1094, 176, 1092]
96
[1079, 1065, 1119, 1078, 1115, 1095, 1073, 1084]
185 g
[1390, 1074, 1533, 1068, 1534, 1088, 1391, 1093]
BP Fitinthered
[1614, 1088, 1677, 1084, 1678, 1108, 1614, 1112]
molt
[1989, 1067, 2025, 1069, 2024, 1095, 1988, 1092]
73/
[182, 1107, 219, 1111, 216, 1137, 180, 1133]
97
[1073, 1110, 1111, 1114, 1108, 1137, 1071, 1133]
211 g .
[1364, 1093, 1469, 1092, 1470, 1109, 1365, 1112]
LT 10 x5 mm
[1368, 1113, 1491, 1111, 1492, 1130, 1368, 1133]
Rt Gx 4am .
[1494, 1104, 1599, 1101, 1600, 1122, 1494, 1127]
BPrefeathered
[1936, 1103, 1957, 1104, 1956, 1122, 1935, 1121]
1/
[1986, 1104, 2022, 1105, 2020, 1130, 1985, 1129]
132
[1074, 1147, 1116, 1154, 1114, 1173, 1072, 1167]
183 g.
[1371, 1134, 1476, 1134, 1476, 1150, 1371, 1151]
L.7 3 x 2 Mm
[1362, 1153, 1468, 1154, 1468, 1173, 1362, 1172]
Rt 2 x/mm
[1503, 1141, 1569, 1138, 1568, 1164, 1503, 1164]
BP 4/10
[1612, 1131, 1684, 1128, 1684, 1143, 1612, 1146]
Nomolt.
[184, 1144, 222, 1146, 221, 1172, 182, 1169]
98
[1988, 1144, 2029, 1145, 2029, 1168, 1988, 1167]
233
[183, 1184, 216, 1188, 216, 1214, 183, 1210]
99
[1076, 1189, 1122, 1195, 1119, 1218, 1074, 1212]
179 g.
[1362, 1180, 1488, 1175, 1489, 1188, 1362, 1194]
GUAY 1 10Y 54,
[1515, 1186, 1580, 1187, 1579, 1211, 1514, 1210]
BP 8/10
[1614, 1175, 1672, 1169, 1674, 1185, 1614, 1192]
molt
[1987, 1174, 2022, 1172, 2022, 1193, 1986, 1196]
934
[1364, 1195, 1474, 1195, 1474, 1209, 1364, 1208]
1 - ounm Ham.
[151, 1225, 222, 1227, 221, 1253, 151, 1251]
24 00
[517, 1221, 643, 1226, 642, 1257, 516, 1253]
151 Aug. 1966
[902, 1219, 1003, 1225, 1002, 1248, 902, 1244]
20 55 W.
[1616, 1210, 1654, 1210, 1653, 1227, 1616, 1227]
Mult
[788, 1225, 934, 1224, 935, 1248, 788, 1250]
0 16 W - 1750
[1074, 1226, 1118, 1233, 1115, 1256, 1072, 1250]
173 g-
[1214, 1214, 1298, 1206, 1299, 1237, 1216, 1244]
light fat
[1357, 1212, 1556, 1212, 1556, 1230, 1357, 1229]
testi 4 x2 mm. B. P. bare
[1812, 1223, 2009, 1219, 2010, 1246, 1812, 1252]
skeleton HOFF 74
[252, 1258, 436, 1264, 435, 1296, 252, 1289]
Sterna Fuscata
[1214, 1253, 1292, 1255, 1289, 1283, 1215, 1281]
light fat
[1351, 1247, 1558, 1249, 1558, 1269, 1351, 1266]
ovary 10 x 8 mm B.P. love
[527, 1264, 648, 1268, 646, 1298, 526, 1293]
16 Aug- 1966
[778, 1265, 984, 1263, 984, 1288, 779, 1292]
040 N ~ 176040 W
[1073, 1263, 1118, 1273, 1115, 1293, 1070, 1283]
166g.
[1355, 1267, 1499, 1275, 1497, 1296, 1354, 1287]
endowed onderet
[1614, 1255, 1646, 1253, 1646, 1268, 1614, 1270]
Molt
[188, 1269, 217, 1269, 216, 1292, 187, 1291]
01
[1757, 1273, 1777, 1272, 1776, 1290, 1757, 1291]
5
[1928, 1260, 2015, 1260, 2014, 1292, 1926, 1291]
Hold 75
[191, 1308, 224, 1305, 227, 1325, 192, 1328]
62
[248, 1303, 415, 1304, 415, 1333, 248, 1331]
Sterna fuscata
[514, 1302, 636, 1306, 635, 1335, 514, 1331]
16 Aug. 1966
[782, 1300, 990, 1303, 990, 1328, 782, 1326]
0 15' # 1760 42 00.
[1071, 1308, 1113, 1312, 1111, 1333, 1070, 1328]
185g
[1217, 1293, 1308, 1295, 1306, 1328, 1215, 1326]
light fat
[1352, 1291, 1563, 1289, 1563, 1316, 1352, 1318]
tets 4 x 2 min BP, bare
[491, 1301, 482, 1322, 468, 1317, 477, 1296]
Fo
[1755, 1314, 1773, 1314, 1773, 1335, 1755, 1334]
S

In [12]:
len(data["analyzeResult"]["readResults"][0]['lines'][4]['words'])

1

In [13]:
word_count = []
for l in data["analyzeResult"]["readResults"][0]['lines']:
    word_count.append(len(l['words']))

In [14]:
max(word_count)

7

## General strategy

Generally, the columns are spaced further apart from each other than the rows, and there's fewer columns than rows. So we're going to build the table by first creating a set of columns based on where the x coords fall in space. We're assuming that all of the boxes will overlap along the x axis at least a little bit. It looks like the numbering column (column 1) largely counts all the rows and is reliably identified by the HTR algorithm, therefore we can base all rows on the y coords from the boxes in the first column.

1. Create dataframes for each "column" with the bbox number, the text, and the average of the y coords. 
2. Create a new table to populate with just the text data. Add column 1 to determine number of rows.
3. Check if the y_avg for a given box is between the y_top and y_bot of the first column values, if so add it to the rogt index (row number) in a list 
4. Add the list to the table as a new column
5. ...profit?

**Notes**
- Works well for some images, but breaks down when detected "lines" cross intellectual columns. E.g. "HP_out/sea19631966196800natib_0008.handprint-microsoft.json" line 1 contains a value in column 1 and column 2. Could move down to sorting boxes at "word" level.
- May need to refactor to assign row values directly to dataframe, since the list comprehension is just adding another convoluted step to create lists of lists with placeholders. 
- Create functions to reduce repetativeness
    - Create single column or create all columns? (get first column and keep computing columns based on previous one as long as there are still boxes that are further on the xaxis than the column just created. 
    - Create row? 
    - One giant function? table_from_boxes(filename)? Not as wild as it sounds since all the placements are computed based on the locations of the first column.

### Column 1

In [15]:
#create empty lists
zero = []
six = []

#add leftmost x-axis bbox coords (index 0 & 6) to list
for i in data['analyzeResult']['readResults'][0]['lines']:
    zero.append(i['boundingBox'][0])
    six.append(i['boundingBox'][6])

#create dataframe with coords (index = bbox #) 
xleft = pd.DataFrame(
    {'zero': zero,
     'six' : six
    })

#find minimum (leftmost) of left coords from bbox
min_zero = xleft.min()[0]
min_six = xleft.min()[1]
xmin_left_1 = min(min_zero, min_six)

#find row/index of minimum x value for left bbox coords
m = xleft.idxmin()
m = m[0]

#find maximum cooresponding x value for right side of minimum bbox)
two = data['analyzeResult']['readResults'][0]['lines'][m]['boundingBox'][2]
four = data['analyzeResult']['readResults'][0]['lines'][m]['boundingBox'][4]
xmax_right_1 = max(two, four)

In [16]:
data['analyzeResult']['readResults'][0]['lines'][m]

{'appearance': {'style': {'confidence': 0.676, 'name': 'handwriting'}},
 'boundingBox': [135, 227, 207, 227, 207, 251, 135, 250],
 'text': '2375',
 'words': [{'boundingBox': [137, 227, 203, 228, 202, 252, 136, 251],
   'confidence': 0.993,
   'text': '2375'}]}

In [17]:
#find all bboxes with a left x value between the minimum left x value and the maximum right x value - this should give you all the bboxes that overlap with the farthest left bbox (aka column zero)
number = {}

for index, value in enumerate(data['analyzeResult']['readResults'][0]['lines']):
    if xmin_left_1 <= value['boundingBox'][0] < xmax_right_1:
        number[index] = value['text']
        continue

#turn dict into data frame so you can add column for y_avg
number_df = pd.DataFrame(list(number.items()), columns = ['box','line'])
number_df

    box                       line
0     1    2374 Pt. h. NigriPENNis
1    11                       2375
2    20                         76
3    29                         77
4    35                         78
5    40                         79
6    47                         80
7    58                         81
8    59                         82
9    69                         83
10   77               84 pt. cooki
11   88                         85
12   93                86 PT. Alba
13  108                         87
14  110                         88
15  119  89 OchAnodromalEncorton 8
16  131                         90
17  140                         91
18  147                         92
19  158                         93
20  161                         94
21  168                         95
22  173                         96
23  178                         97
24  190                         98
25  192                         99
26  199                      24 00
27  216                         01
28  219                         62

### Column 2

In [18]:
#find all xleft values larger than the largest xleft in col 1
xleft_2 = xleft[xleft >= (xmax_right_1 + 1)]

#find index of smallest x_left larger than xmax_right_1 + 1
n = xleft_2.idxmin()
n = n[0]

#find values of bbox coords 2 & 4 of smallest x_left box
two = data['analyzeResult']['readResults'][0]['lines'][n]['boundingBox'][2]
four = data['analyzeResult']['readResults'][0]['lines'][n]['boundingBox'][4]
n_max = max(two, four)

#find values of bbox coords 0 & 6 that are smaller than n_max
xmin_left_2 = xleft_2[xleft_2 <= (n_max+50)] #add 100 to account for a small box for xmax
xmin_left_2 = xmin_left_2.dropna()
xmin_left_2

#Find coords 2 & 4 of all bboxes in xmin_left_2
xmax_right_2 = []

for i,j in xmin_left_2.iterrows():
    xmax_right_2.append(data['analyzeResult']['readResults'][0]['lines'][i]['boundingBox'][2])
    xmax_right_2.append(data['analyzeResult']['readResults'][0]['lines'][i]['boundingBox'][4])

#find max right x coord
xmax_right_2 = max(xmax_right_2)

In [19]:
#find all bboxes with a 0 coord between xmax_right_1 + 1 and max possible right coord to find all potential overlappping bboxes
name = {}

for index, value in enumerate(data['analyzeResult']['readResults'][0]['lines']):
    if (xmax_right_1 + 1) < data['analyzeResult']['readResults'][0]['lines'][index]['boundingBox'][0] < xmax_right_2:
        name[index] = value['text']
    else:
        continue

name_df = pd.DataFrame(list(name.items()), columns = ['box','line'])
name_df

    box                   line
0     0                     No
1    12     PattiNis pacificus
2    21         StarNA fuscAtA
3    30          Fragata Ariil
4    41         StirNA fusente
5    42                      -
6    50  ProcolostarNA crowdER
7    51                      -
8    60       phasthow laptrus
9    70                      -
10  101             Bygis Alla
11  111     NEso grigata alb .
12  128                  of ..
13  132         Sterna fuscata
14  208         Sterna Fuscata
15  220         Sterna fuscata
16  226                     Fo

### Column 3

In [20]:
#find all xleft values larger than the largest xleft in col 2
xleft_3 = xleft_2[xleft_2 > (xmax_right_2 + 1)]

#find index of smallest x_left larger than xmax_right_2 + 1
n = xleft_3.idxmin()
n = n[0]

#find values of bbox coords 2 & 4 of n
two = data['analyzeResult']['readResults'][0]['lines'][n]['boundingBox'][2]
four = data['analyzeResult']['readResults'][0]['lines'][n]['boundingBox'][4]
n_max = max(two, four)

#find values of bbox coords 0 & 6 that are smaller than n_max
xmin_left_3 = xleft_3[xleft_3 < n_max]
xmin_left_3 = xmin_left_3.dropna()
xmin_left_3

#Find coords 2 & 4 of all bboxes in xmin_left_3
xmax_right_3 = []

for i,j in xmin_left_3.iterrows():
    xmax_right_3.append(data['analyzeResult']['readResults'][0]['lines'][i]['boundingBox'][2])
    xmax_right_3.append(data['analyzeResult']['readResults'][0]['lines'][i]['boundingBox'][4])

#find max right x coord
xmax_right_3 = max(xmax_right_3)

In [21]:
sex = {}

for index, value in enumerate(data['analyzeResult']['readResults'][0]['lines']):
    if (xmax_right_2 + 1) < data['analyzeResult']['readResults'][0]['lines'][index]['boundingBox'][0] < xmax_right_3:
        sex[index] = value['text']
    else:
        continue

sex_df = pd.DataFrame(list(sex.items()), columns = ['box','line'])
sex_df.head(10)

   box     line
0    2  21 July
1   22   22 dny
2   43  23 Jily
3   56        =
4   61  27 duly
5   71    3 Aug
6   84        =
7   89  4 5Aug.
8  112    8 Aug
9  125  10 Aug.

### Column 4

In [22]:
#find all xleft values larger than the largest xleft in col 2
xleft_4 = xleft_3[xleft_3 > (xmax_right_3 + 1)]

#find index of smallest x_left larger than xmax_right_2 + 1
n = xleft_4.idxmin()
n = n[0]

#find values of bbox coords 2 & 4 of n
two = data['analyzeResult']['readResults'][0]['lines'][n]['boundingBox'][2]
four = data['analyzeResult']['readResults'][0]['lines'][n]['boundingBox'][4]
n_max = max(two, four)

#find values of bbox coords 0 & 6 that are smaller than n_max
xmin_left_4 = xleft_4[xleft_4 < n_max]
xmin_left_4 = xmin_left_4.dropna()
xmin_left_4

#Find coords 2 & 4 of all bboxes in xmin_left_3
xmax_right_4 = []

for i,j in xmin_left_4.iterrows():
    xmax_right_4.append(data['analyzeResult']['readResults'][0]['lines'][i]['boundingBox'][2])
    xmax_right_4.append(data['analyzeResult']['readResults'][0]['lines'][i]['boundingBox'][4])

#find max right x coord
xmax_right_4 = max(xmax_right_4)

In [23]:
date = {}

for index, value in enumerate(data['analyzeResult']['readResults'][0]['lines']):
    if (xmax_right_3 + 1) < data['analyzeResult']['readResults'][0]['lines'][index]['boundingBox'][0] < xmax_right_4:
        date[index] = value['text']
    else:
        continue

date_df = pd.DataFrame(list(date.items()), columns = ['box','line'])
date_df.head()

   box                 line
0    3  0 0 24' N 1760 30'W
1   13  00 38' N 1760 35' W
2   23     60 27's 1750 57W
3   31    60 35's 1750 52'W
4   36   00 35' 5 1750 5l'W

### Column 5

In [24]:
#find all xleft values larger than the largest xleft in col 2
xleft_5 = xleft_4[xleft_4 > (xmax_right_4 + 1)]

#find index of smallest x_left larger than xmax_right_2 + 1
n = xleft_5.idxmin()
n = n[0]

#find values of bbox coords 2 & 4 of n
two = data['analyzeResult']['readResults'][0]['lines'][n]['boundingBox'][2]
four = data['analyzeResult']['readResults'][0]['lines'][n]['boundingBox'][4]
n_max = max(two, four)

#find values of bbox coords 0 & 6 that are smaller than n_max
xmin_left_5 = xleft_5[xleft_5 < n_max]
xmin_left_5 = xmin_left_5.dropna()
xmin_left_5

#Find coords 2 & 4 of all bboxes in xmin_left_3
xmax_right_5 = []

for i,j in xmin_left_5.iterrows():
    xmax_right_5.append(data['analyzeResult']['readResults'][0]['lines'][i]['boundingBox'][2])
    xmax_right_5.append(data['analyzeResult']['readResults'][0]['lines'][i]['boundingBox'][4])

#find max right x coord
xmax_right_5 = max(xmax_right_5)

In [25]:
geo = {}

for index, value in enumerate(data['analyzeResult']['readResults'][0]['lines']):
    if (xmax_right_4 + 1) < data['analyzeResult']['readResults'][0]['lines'][index]['boundingBox'][0] < xmax_right_5:
        geo[index] = value['text']
    else:
        continue

geo_df = pd.DataFrame(list(geo.items()), columns = ['box','line'])
geo_df.head()

   box line
0    4  154
1   14  457
2   24  192
3   53   49
4   63  325

### Column 6

In [26]:
#find all xleft values larger than the largest xleft in col 2
xleft_6 = xleft_5[xleft_5 > (xmax_right_5 + 1)]

#find index of smallest x_left larger than xmax_right_2 + 1
n = xleft_6.idxmin()
n = n[0]

#find values of bbox coords 2 & 4 of n
two = data['analyzeResult']['readResults'][0]['lines'][n]['boundingBox'][2]
four = data['analyzeResult']['readResults'][0]['lines'][n]['boundingBox'][4]
n_max = max(two, four)

#find values of bbox coords 0 & 6 that are smaller than n_max
xmin_left_6 = xleft_6[xleft_6 < n_max]
xmin_left_6 = xmin_left_6.dropna()
xmin_left_6

#Find coords 2 & 4 of all bboxes in xmin_left_3
xmax_right_6 = []

for i,j in xmin_left_6.iterrows():
    xmax_right_6.append(data['analyzeResult']['readResults'][0]['lines'][i]['boundingBox'][2])
    xmax_right_6.append(data['analyzeResult']['readResults'][0]['lines'][i]['boundingBox'][4])

#find max right x coord
xmax_right_6 = max(xmax_right_6)

In [27]:
weight = {}

for index, value in enumerate(data['analyzeResult']['readResults'][0]['lines']):
    if (xmax_right_5 + 1) < data['analyzeResult']['readResults'][0]['lines'][index]['boundingBox'][0] < xmax_right_6:
        weight[index] = value['text']
    else:
        continue

weight_df = pd.DataFrame(list(weight.items()), columns = ['box','line'])
weight_df.head()

   box            line
0    5             mod
1    6      LT 2X / MM
2    7        R+ 2x1mm
3   15           Light
4   17  725 /75 4 X4mm

### Column 7

In [28]:
#find all xleft values larger than the largest xleft in col 2
xleft_7 = xleft_6[xleft_6 > (xmax_right_6 + 1)]

#find index of smallest x_left larger than xmax_right_2 + 1
n = xleft_7.idxmin()
n = n[0]

#find values of bbox coords 2 & 4 of n
two = data['analyzeResult']['readResults'][0]['lines'][n]['boundingBox'][2]
four = data['analyzeResult']['readResults'][0]['lines'][n]['boundingBox'][4]
n_max = max(two, four)

#find values of bbox coords 0 & 6 that are smaller than n_max
xmin_left_7 = xleft_7[xleft_7 < n_max]
xmin_left_7 = xmin_left_7.dropna()
xmin_left_7

#Find coords 2 & 4 of all bboxes in xmin_left_3
xmax_right_7 = []

for i,j in xmin_left_7.iterrows():
    xmax_right_7.append(data['analyzeResult']['readResults'][0]['lines'][i]['boundingBox'][2])
    xmax_right_7.append(data['analyzeResult']['readResults'][0]['lines'][i]['boundingBox'][4])

#find max right x coord
xmax_right_7 = max(xmax_right_7)

In [29]:
fat_con = {}

for index, value in enumerate(data['analyzeResult']['readResults'][0]['lines']):
    if (xmax_right_6 + 1) < data['analyzeResult']['readResults'][0]['lines'][index]['boundingBox'][0] < xmax_right_7:
        fat_con[index] = value['text']
    else:
        continue

fat_con_df = pd.DataFrame(list(fat_con.items()), columns = ['box','line'])
fat_con_df.head()

   box        line
0    8          BS
1    9        SKIN
2   10  Bulmer 937
3   16           M
4   18         3 S

### Column 8

In [30]:
#find all xleft values larger than the largest xleft in col 2
xleft_8 = xleft_7[xleft_7 > (xmax_right_7 + 1)]

#find index of smallest x_left larger than xmax_right_2 + 1
n = xleft_8.idxmin()
n = n[0]

#find values of bbox coords 2 & 4 of n
two = data['analyzeResult']['readResults'][0]['lines'][n]['boundingBox'][2]
four = data['analyzeResult']['readResults'][0]['lines'][n]['boundingBox'][4]
n_max = max(two, four)

#find values of bbox coords 0 & 6 that are smaller than n_max
xmin_left_8 = xleft_8[xleft_8 < n_max]
xmin_left_8 = xmin_left_8.dropna()
xmin_left_8

#Find coords 2 & 4 of all bboxes in xmin_left_3
xmax_right_8 = []

for i,j in xmin_left_8.iterrows():
    xmax_right_8.append(data['analyzeResult']['readResults'][0]['lines'][i]['boundingBox'][2])
    xmax_right_8.append(data['analyzeResult']['readResults'][0]['lines'][i]['boundingBox'][4])

#find max right x coord
xmax_right_8 = max(xmax_right_8)

TypeError: list indices must be integers or slices, not numpy.float64

In [265]:
reproduction = {}

for index, value in enumerate(data['analyzeResult']['readResults'][0]['lines']):
    if (xmax_right_7 + 1) < data['analyzeResult']['readResults'][0]['lines'][index]['boundingBox'][0] < xmax_right_8:
        reproduction[index] = value['text']
    else:
        continue

reproduction_df = pd.DataFrame(list(reproduction.items()), columns = ['box','line'])
reproduction_df.head()

   box              line
0   33  BP & RE finthand
1   53        BP Present
2   54       TIL9x 11 mm
3   61      RT 18X / 3MM
4   70    L. OUum 2x 2mm

### Column 9

In [266]:
#find all xleft values larger than the largest xleft in col 2
xleft_9 = xleft_8[xleft_8 > (xmax_right_8 + 1)]

#find index of smallest x_left larger than xmax_right_2 + 1
n = xleft_9.idxmin()
n = n[0]

#find values of bbox coords 2 & 4 of n
two = data['analyzeResult']['readResults'][0]['lines'][n]['boundingBox'][2]
four = data['analyzeResult']['readResults'][0]['lines'][n]['boundingBox'][4]
n_max = max(two, four)

#find values of bbox coords 0 & 6 that are smaller than n_max
xmin_left_9 = xleft_9[xleft_9 < n_max]
xmin_left_9 = xmin_left_9.dropna()
xmin_left_9

#Find coords 2 & 4 of all bboxes in xmin_left_3
xmax_right_9 = []

for i,j in xmin_left_9.iterrows():
    xmax_right_9.append(data['analyzeResult']['readResults'][0]['lines'][i]['boundingBox'][2])
    xmax_right_9.append(data['analyzeResult']['readResults'][0]['lines'][i]['boundingBox'][4])

#find max right x coord
xmax_right_9 = max(xmax_right_9)

In [267]:
remarks = {}

for index, value in enumerate(data['analyzeResult']['readResults'][0]['lines']):
    if (xmax_right_8 + 1) < data['analyzeResult']['readResults'][0]['lines'][index]['boundingBox'][0] < xmax_right_9:
        remarks[index] = value['text']
    else:
        continue

remarks_df = pd.DataFrame(list(remarks.items()), columns = ['box','line'])
remarks_df.head()

   box             line
0   34  Fus # 843-39034
1   39      18luz print
2   40                S
3   55              M .
4   56            C.N .

### Column 10

In [268]:
#find all xleft values larger than the largest xleft in col 2
xleft_10 = xleft_9[xleft_9 > (xmax_right_9 + 1)]

#find index of smallest x_left larger than xmax_right_2 + 1
n = xleft_10.idxmin()
n = n[0]

#find values of bbox coords 2 & 4 of n
two = data['analyzeResult']['readResults'][0]['lines'][n]['boundingBox'][2]
four = data['analyzeResult']['readResults'][0]['lines'][n]['boundingBox'][4]
n_max = max(two, four)

#find values of bbox coords 0 & 6 that are smaller than n_max
xmin_left_10 = xleft_10[xleft_10 < n_max]
xmin_left_10 = xmin_left_10.dropna()
xmin_left_10

#Find coords 2 & 4 of all bboxes in xmin_left_3
xmax_right_10 = []

for i,j in xmin_left_10.iterrows():
    xmax_right_10.append(data['analyzeResult']['readResults'][0]['lines'][i]['boundingBox'][2])
    xmax_right_10.append(data['analyzeResult']['readResults'][0]['lines'][i]['boundingBox'][4])

#find max right x coord
xmax_right_10 = max(xmax_right_10)

In [269]:
col_10 = {}

for index, value in enumerate(data['analyzeResult']['readResults'][0]['lines']):
    if (xmax_right_9 + 1) < data['analyzeResult']['readResults'][0]['lines'][index]['boundingBox'][0] < xmax_right_10:
        col_10[index] = value['text']
    else:
        continue

col_10_df = pd.DataFrame(list(col_10.items()), columns = ['box','line'])
col_10_df.head()

   box  line
0    6  Alco
1   11    11
2   41  SKIN
3   47  Alco
4   63  Skin

### Column 11

In [270]:
#find all xleft values larger than the largest xleft in col 2
xleft_11 = xleft_10[xleft_10 > (xmax_right_10 + 1)]

#find index of smallest x_left larger than xmax_right_2 + 1
n = xleft_11.idxmin()
n = n[0]

#find values of bbox coords 2 & 4 of n
two = data['analyzeResult']['readResults'][0]['lines'][n]['boundingBox'][2]
four = data['analyzeResult']['readResults'][0]['lines'][n]['boundingBox'][4]
n_max = max(two, four)

#find values of bbox coords 0 & 6 that are smaller than n_max
xmin_left_11 = xleft_11[xleft_11 < n_max]
xmin_left_11 = xmin_left_11.dropna()
xmin_left_11

#Find coords 2 & 4 of all bboxes in xmin_left_3
xmax_right_11 = []

for i,j in xmin_left_11.iterrows():
    xmax_right_11.append(data['analyzeResult']['readResults'][0]['lines'][i]['boundingBox'][2])
    xmax_right_11.append(data['analyzeResult']['readResults'][0]['lines'][i]['boundingBox'][4])

#find max right x coord
xmax_right_11 = max(xmax_right_11)

In [271]:
col_11 = {}

for index, value in enumerate(data['analyzeResult']['readResults'][0]['lines']):
    if (xmax_right_10 + 1) < data['analyzeResult']['readResults'][0]['lines'][index]['boundingBox'][0] < xmax_right_11:
        col_11[index] = value['text']
    else:
        continue

col_11_df = pd.DataFrame(list(col_11.items()), columns = ['box','line'])
col_11_df.head()

   box       line
0    7  Haber 872
1   12      87/ 8
2   13          =
3   19        376
4   24         41

## Create table to populate with column data

In [300]:
table = pd.DataFrame(columns = [
    'number',
    'name',
    'sex',
    'date',
    'geo',
    'weight',
    'fat_con',
    'reproduction',
    'remarks',
    'col_10',
    'col_11'
])

table['number'] = number_df['line']

In [301]:
table.head()

  number name  sex date  geo weight fat_con reproduction remarks col_10 col_11
0  23 16  NaN  NaN  NaN  NaN    NaN     NaN          NaN     NaN    NaN    NaN
1     17  NaN  NaN  NaN  NaN    NaN     NaN          NaN     NaN    NaN    NaN
2     18  NaN  NaN  NaN  NaN    NaN     NaN          NaN     NaN    NaN    NaN
3     19  NaN  NaN  NaN  NaN    NaN     NaN          NaN     NaN    NaN    NaN
4     20  NaN  NaN  NaN  NaN    NaN     NaN          NaN     NaN    NaN    NaN

In [302]:
#Add y_top, y_bottom, & y_avg to number_df
y_top = []
y_bot = []
y_avg = []

for box in number_df['box']:
    tops = []
    tops.append(data['analyzeResult']['readResults'][0]['lines'][box]['boundingBox'][1])
    tops.append(data['analyzeResult']['readResults'][0]['lines'][box]['boundingBox'][3])
    
    bottoms = []
    bottoms.append(data['analyzeResult']['readResults'][0]['lines'][box]['boundingBox'][5])
    bottoms.append(data['analyzeResult']['readResults'][0]['lines'][box]['boundingBox'][7])
    
    y_list = []
    y_list.append(data['analyzeResult']['readResults'][0]['lines'][box]['boundingBox'][1])
    y_list.append(data['analyzeResult']['readResults'][0]['lines'][box]['boundingBox'][3])
    y_list.append(data['analyzeResult']['readResults'][0]['lines'][box]['boundingBox'][5])
    y_list.append(data['analyzeResult']['readResults'][0]['lines'][box]['boundingBox'][7])
    
    y_top.append(statistics.mean(tops))
    y_bot.append(statistics.mean(bottoms))
    y_avg.append(statistics.mean(y_list))
    
number_df["y_top"] = y_top
number_df["y_bot"] = y_bot
number_df["y_avg"] = y_avg

In [303]:
number_df

    box   line   y_top   y_bot    y_avg
0     0  23 16   252.0   276.5   264.25
1    14     17   305.5   327.5   316.50
2    15     18   353.0   377.0   365.00
3    20     19   408.0   437.5   422.75
4    26     20   457.5   487.5   472.50
5    36     21   507.5   534.5   521.00
6    44     22   559.5   586.5   573.00
7    49     23   612.0   637.0   624.50
8    57     24   658.5   690.5   674.50
9    67     25   714.0   746.0   730.00
10   77     26   764.0   795.0   779.50
11   84     27   811.5   846.5   829.00
12   95     28   872.0   899.0   885.50
13  104     29   914.5   945.0   929.75
14  109     30   973.5  1003.5   988.50
15  121     3/  1017.0  1052.0  1034.50
16  132     32  1075.0  1105.0  1090.00
17  140     33  1116.5  1147.5  1132.00
18  146     34  1174.5  1207.0  1190.75
19  154     35  1226.0  1259.5  1242.75
20  162     36  1274.5  1307.5  1291.00
21  169     37  1332.0  1369.0  1350.50
22  173     38  1380.0  1412.0  1396.00
23  178     39  1427.5  1463.5  1445.50
24  184     40  1482.0  1515.5  1498.75
25  197     41  1535.5  1571.5  1553.50
26  203     42  1582.0  1615.0  1598.50
27  209     43  1637.5  1669.0  1653.25
28  217     44  1679.0  1709.0  1694.00

## Rows!

In [304]:
#add y_avg to names_df
y_avg = []

for box in name_df['box']:
    y_list = []
    y_list.append(data['analyzeResult']['readResults'][0]['lines'][box]['boundingBox'][1])
    y_list.append(data['analyzeResult']['readResults'][0]['lines'][box]['boundingBox'][3])
    y_list.append(data['analyzeResult']['readResults'][0]['lines'][box]['boundingBox'][5])
    y_list.append(data['analyzeResult']['readResults'][0]['lines'][box]['boundingBox'][7])

    y_avg.append(statistics.mean(y_list))
    
name_df["y_avg"] = y_avg

In [305]:
names_full = ["place_holder"] * len(table)
for i, j in number_df.iterrows():
    for k, l in name_df.iterrows():
        if j['y_top'] < l['y_avg'] < j['y_bot']:
            print("Row", i, "is", l['line'])
            if len(names_full[i]) < 12:
                names_full[i].append(l['line'])
            else:
                names_full[i]=l['line']
            continue

Row 0 is SterNA fuscAtA
Row 8 is FregatA Ariel
Row 10 is Pt. h. NigripINNis
Row 11 is StarNA fuscAtA
Row 14 is PhAsthow rubricAndA
Row 15 is Pt. L. NigripsUNIT
Row 16 is StarNA fuSCATA
Row 19 is 11
Row 24 is 11

In [306]:
#Add names to table
table['name'] = names_full

In [307]:
#Sex

#Add y_avg
y_avg = []
y_left_avg = []
y_right_avg = []

for box in sex_df['box']:
    y_list = []
    y_list.append(data['analyzeResult']['readResults'][0]['lines'][box]['boundingBox'][1])
    y_list.append(data['analyzeResult']['readResults'][0]['lines'][box]['boundingBox'][3])
    y_list.append(data['analyzeResult']['readResults'][0]['lines'][box]['boundingBox'][5])
    y_list.append(data['analyzeResult']['readResults'][0]['lines'][box]['boundingBox'][7])

    y_avg.append(statistics.mean(y_list))

sex_df["y_avg"] = y_avg

#add names to table based on y_avg location
sex_full = ["place_holder"] * len(table)
for i, j in number_df.iterrows():
    for k, l in sex_df.iterrows():
        if j['y_top'] < l['y_avg'] < j['y_bot']:
            print("Row", i, "is", l['line'])
            if len(sex_full[i]) < 12:
                sex_full[i].append(l['line'])
            else:
                sex_full[i]=l['line']
            continue

Row 0 is -
Row 1 is -
Row 2 is -
Row 3 is -
Row 4 is -
Row 5 is No
Row 6 is -
Row 8 is 87
Row 9 is 0+
Row 10 is No
Row 11 is -
Row 12 is No
Row 16 is -
Row 18 is -
Row 19 is 0+
Row 23 is -
Row 24 is -
Row 26 is -

In [308]:
#Add sex to table
table['sex'] = sex_full
table

,number,name,sex,date,geo,weight,fat_con,reproduction,remarks,col_10,col_11
0,23 16,SterNA fuscAtA,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,17,place_holder,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,18,place_holder,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,19,place_holder,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20,place_holder,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,21,place_holder,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,22,place_holder,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,23,place_holder,place_holder,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,24,FregatA Ariel,87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,25,place_holder,0+,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,26,Pt. h. NigripINNis,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,27,StarNA fuscAtA,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,28,place_holder,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,29,place_holder,place_holder,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,30,PhAsthow rubricAndA,place_holder,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,3/,Pt. L. NigripsUNIT,place_holder,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,32,StarNA fuSCATA,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,33,place_holder,place_holder,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,34,place_holder,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,35,11,0+,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,36,place_holder,place_holder,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,37,place_holder,place_holder,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,38,place_holder,place_holder,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,39,place_holder,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,40,11,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,41,place_holder,place_holder,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,42,place_holder,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,43,place_holder,place_holder,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,44,place_holder,place_holder,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [309]:
#Date

#Add y_avg
y_avg = []
y_left_avg = []
y_right_avg = []

for box in date_df['box']:
    y_list = []
    y_list.append(data['analyzeResult']['readResults'][0]['lines'][box]['boundingBox'][1])
    y_list.append(data['analyzeResult']['readResults'][0]['lines'][box]['boundingBox'][3])
    y_list.append(data['analyzeResult']['readResults'][0]['lines'][box]['boundingBox'][5])
    y_list.append(data['analyzeResult']['readResults'][0]['lines'][box]['boundingBox'][7])

    y_avg.append(statistics.mean(y_list))

date_df["y_avg"] = y_avg

#add names to table based on y_avg location
date_full = ["place_holder"] * len(table)

for i, j in number_df.iterrows():
    for k, l in date_df.iterrows():
        if j['y_top'] < l['y_avg'] < j['y_bot']:
            print("Row", i, "is", l['line'])
            if len(date_full[i]) == 12:
                date_full[i]=[l['line']]
            else:
                date_full[i].append(l['line'])
            continue

Row 0 is 17 duly
Row 2 is 11
Row 5 is =
Row 8 is =
Row 10 is =
Row 11 is 18 July
Row 15 is 1'
Row 16 is 19 July
Row 20 is 20 July
Row 21 is =
Row 23 is =
Row 24 is 21 July
Row 25 is 1!
Row 28 is 11

In [310]:
#add date to table
table['date'] = date_full

In [311]:
table

,number,name,sex,date,geo,weight,fat_con,reproduction,remarks,col_10,col_11
0,23 16,SterNA fuscAtA,-,[17 duly],NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,17,place_holder,-,place_holder,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,18,place_holder,-,[11],NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,19,place_holder,-,place_holder,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20,place_holder,-,place_holder,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,21,place_holder,No,[=],NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,22,place_holder,-,place_holder,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,23,place_holder,place_holder,place_holder,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,24,FregatA Ariel,87,[=],NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,25,place_holder,0+,place_holder,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,26,Pt. h. NigripINNis,No,[=],NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,27,StarNA fuscAtA,-,[18 July],NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,28,place_holder,No,place_holder,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,29,place_holder,place_holder,place_holder,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,30,PhAsthow rubricAndA,place_holder,place_holder,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,3/,Pt. L. NigripsUNIT,place_holder,[1'],NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,32,StarNA fuSCATA,-,[19 July],NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,33,place_holder,place_holder,place_holder,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,34,place_holder,-,place_holder,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,35,11,0+,place_holder,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,36,place_holder,place_holder,[20 July],NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,37,place_holder,place_holder,[=],NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,38,place_holder,place_holder,place_holder,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,39,place_holder,-,[=],NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,40,11,-,[21 July],NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,41,place_holder,place_holder,[1!],NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,42,place_holder,-,place_holder,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,43,place_holder,place_holder,place_holder,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,44,place_holder,place_holder,[11],NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [312]:
#Geo

#Add y_avg
y_avg = []
y_left_avg = []
y_right_avg = []

for box in geo_df['box']:
    y_list = []
    y_list.append(data['analyzeResult']['readResults'][0]['lines'][box]['boundingBox'][1])
    y_list.append(data['analyzeResult']['readResults'][0]['lines'][box]['boundingBox'][3])
    y_list.append(data['analyzeResult']['readResults'][0]['lines'][box]['boundingBox'][5])
    y_list.append(data['analyzeResult']['readResults'][0]['lines'][box]['boundingBox'][7])

    y_avg.append(statistics.mean(y_list))

geo_df["y_avg"] = y_avg

#add names to table based on y_avg location
geo_full = ["place_holder"] * len(table)

for i, j in number_df.iterrows():
    for k, l in geo_df.iterrows():
        if j['y_top'] < l['y_avg'] < j['y_bot']:
            print("Row", i, "is", l['line'])
            if len(geo_full[i]) == 12:
                geo_full[i]=[l['line']]
            else:
                geo_full[i].append(l['line'])
            continue

Row 0 is 00 50'N 176 20W
Row 1 is =
Row 3 is 0048'N 176 33/0
Row 4 is 0 0 42'N 176" 16' W
Row 5 is OOHI'N 176º15'0
Row 7 is @ 30 N 1750 38' W
Row 8 is 0'27 N 1750 29/W
Row 9 is 00 27'N / 750 29/W
Row 10 is 0 0 08N 175 0 54W
Row 11 is 0º HON 1760 5210
Row 12 is 0º 38'₪ 1760 54'w
Row 13 is 035' N 1770 01 W
Row 14 is 10 14'N 1750 56'W
Row 15 is 00 03' N 1780 l'W
Row 16 is 0 0 29'N 176 0 48W
Row 17 is 00 30'N 176º 470
Row 18 is 11
Row 19 is 0º 34'₪ 176º 44'w
Row 20 is 6º OS'N 1720 41'W
Row 21 is 00 18'N 1760 41 W
Row 22 is 20 ~ 1760 41w
Row 23 is 26' N 1760 4 1'W
Row 24 is 30'N 1760 31'W
Row 25 is 28N 172 31'00
Row 26 is 0 28'N 17 6 º 31'W
Row 28 is 11

In [313]:
table['geo'] = geo_full

In [314]:
#Weight

#Add y_avg
y_avg = []
y_left_avg = []
y_right_avg = []

for box in weight_df['box']:
    y_list = []
    y_list.append(data['analyzeResult']['readResults'][0]['lines'][box]['boundingBox'][1])
    y_list.append(data['analyzeResult']['readResults'][0]['lines'][box]['boundingBox'][3])
    y_list.append(data['analyzeResult']['readResults'][0]['lines'][box]['boundingBox'][5])
    y_list.append(data['analyzeResult']['readResults'][0]['lines'][box]['boundingBox'][7])

    y_avg.append(statistics.mean(y_list))

weight_df["y_avg"] = y_avg

#add names to table based on y_avg location
weight_full = ["place_holder"] * len(table)

for i, j in number_df.iterrows():
    for k, l in weight_df.iterrows():
        if j['y_top'] < l['y_avg'] < j['y_bot']:
            print("Row", i, "is", l['line'])
            if len(weight_full[i]) == 12:
                weight_full[i]=[l['line']]
            else:
                weight_full[i].append(l['line'])
            continue

Row 0 is 159.0
Row 1 is 162.6
Row 2 is 11.3
Row 3 is 147.9
Row 4 is 166.7
Row 5 is 187
Row 6 is 203
Row 7 is 157.4
Row 10 is 871
Row 11 is 34
Row 12 is 160
Row 13 is 147
Row 14 is 920
Row 15 is 152
Row 16 is 197
Row 17 is 193
Row 18 is 184
Row 19 is 198
Row 20 is 187
Row 21 is 19 2
Row 22 is 168
Row 23 is 216
Row 24 is 79
Row 25 is 7/
Row 26 is 169
Row 27 is 197
Row 28 is 173

In [315]:
table['weight'] = weight_full

In [316]:
#fat_con

#Add y_avg
y_avg = []
y_left_avg = []
y_right_avg = []

for box in fat_con_df['box']:
    y_list = []
    y_list.append(data['analyzeResult']['readResults'][0]['lines'][box]['boundingBox'][1])
    y_list.append(data['analyzeResult']['readResults'][0]['lines'][box]['boundingBox'][3])
    y_list.append(data['analyzeResult']['readResults'][0]['lines'][box]['boundingBox'][5])
    y_list.append(data['analyzeResult']['readResults'][0]['lines'][box]['boundingBox'][7])

    y_avg.append(statistics.mean(y_list))

fat_con_df["y_avg"] = y_avg

#add names to table based on y_avg location
fat_con_full = ["place_holder"] * len(table)

for i, j in number_df.iterrows():
    for k, l in fat_con_df.iterrows():
        if j['y_top'] < l['y_avg'] < j['y_bot']:
            print("Row", i, "is", l['line'])
            if len(fat_con_full[i]) == 12:
                fat_con_full[i]=[l['line']]
            else:
                fat_con_full[i].append(l['line'])
            continue

Row 9 is Mod
Row 10 is heavy
Row 12 is Light
Row 14 is LEAvy
Row 15 is heavy
Row 19 is hlavy
Row 24 is HEAVY
Row 27 is Light
Row 28 is Light

In [317]:
table['fat_con'] = fat_con_full

In [319]:
#Reproduction

#Add y_avg
y_avg = []
y_left_avg = []
y_right_avg = []

for box in reproduction_df['box']:
    y_list = []
    y_list.append(data['analyzeResult']['readResults'][0]['lines'][box]['boundingBox'][1])
    y_list.append(data['analyzeResult']['readResults'][0]['lines'][box]['boundingBox'][3])
    y_list.append(data['analyzeResult']['readResults'][0]['lines'][box]['boundingBox'][5])
    y_list.append(data['analyzeResult']['readResults'][0]['lines'][box]['boundingBox'][7])

    y_avg.append(statistics.mean(y_list))

reproduction_df["y_avg"] = y_avg

#add names to table based on y_avg location
reproduction_full = ["place_holder"] * len(table)

for i, j in number_df.iterrows():
    for k, l in reproduction_df.iterrows():
        if j['y_top'] < l['y_avg'] < j['y_bot']:
            print("Row", i, "is", l['line'])
            if len(reproduction_full[i]) == 12:
                reproduction_full[i]=[l['line']]
            else:
                reproduction_full[i].append(l['line'])
            continue

Row 8 is TIL9x 11 mm
Row 8 is RT 18X / 3MM
Row 9 is L. OUum 2x 2mm
Row 10 is L. 15>+15 1X 2mm
Row 12 is +$ *** 5 4×3mm
Row 14 is L. ouum4min
Row 15 is 1.+25+15 1× 1 mm
Row 19 is Qvary 10x5mm
Row 24 is gowAds destroyed
Row 27 is 725 /55 5×4 0mm
Row 28 is BP complete

In [320]:
table['reproduction'] = reproduction_full

In [321]:
#Remarks

#Add y_avg
y_avg = []
y_left_avg = []
y_right_avg = []

for box in remarks_df['box']:
    y_list = []
    y_list.append(data['analyzeResult']['readResults'][0]['lines'][box]['boundingBox'][1])
    y_list.append(data['analyzeResult']['readResults'][0]['lines'][box]['boundingBox'][3])
    y_list.append(data['analyzeResult']['readResults'][0]['lines'][box]['boundingBox'][5])
    y_list.append(data['analyzeResult']['readResults'][0]['lines'][box]['boundingBox'][7])

    y_avg.append(statistics.mean(y_list))

remarks_df["y_avg"] = y_avg

#add names to table based on y_avg location
remarks_full = ["place_holder"] * len(table)

for i, j in number_df.iterrows():
    for k, l in remarks_df.iterrows():
        if j['y_top'] < l['y_avg'] < j['y_bot']:
            print("Row", i, "is", l['line'])
            if len(remarks_full[i]) == 12:
                remarks_full[i]=[l['line']]
            else:
                remarks_full[i].append(l['line'])
            continue

Row 5 is Fus # 843-39034
Row 5 is 18luz print
Row 5 is S
Row 8 is 5
Row 9 is 5
Row 10 is BS
Row 12 is 5
Row 14 is S
Row 15 is 4-014
Row 18 is CN
Row 19 is 5
Row 24 is 3 5
Row 28 is M

In [322]:
table['remarks'] = remarks_full

In [323]:
#col_10

#Add y_avg
y_avg = []
y_left_avg = []
y_right_avg = []

for box in col_10_df['box']:
    y_list = []
    y_list.append(data['analyzeResult']['readResults'][0]['lines'][box]['boundingBox'][1])
    y_list.append(data['analyzeResult']['readResults'][0]['lines'][box]['boundingBox'][3])
    y_list.append(data['analyzeResult']['readResults'][0]['lines'][box]['boundingBox'][5])
    y_list.append(data['analyzeResult']['readResults'][0]['lines'][box]['boundingBox'][7])

    y_avg.append(statistics.mean(y_list))

col_10_df["y_avg"] = y_avg

#add names to table based on y_avg location
col_10_full = ["place_holder"] * len(table)

for i, j in number_df.iterrows():
    for k, l in col_10_df.iterrows():
        if j['y_top'] < l['y_avg'] < j['y_bot']:
            print("Row", i, "is", l['line'])
            if len(col_10_full[i]) == 12:
                col_10_full[i]=[l['line']]
            else:
                col_10_full[i].append(l['line'])
            continue

Row 0 is Alco
Row 1 is 11
Row 5 is SKIN
Row 6 is Alco
Row 8 is Skin
Row 11 is Alco
Row 12 is Skal
Row 13 is Alco
Row 15 is SKIN
Row 16 is Alco
Row 17 is 1.1
Row 20 is Alco
Row 23 is =
Row 24 is Skal
Row 25 is Alco
Row 26 is 1/
Row 27 is Skal

In [324]:
table['col_10'] = col_10_full

In [325]:
#col_11

#Add y_avg
y_avg = []
y_left_avg = []
y_right_avg = []

for box in col_11_df['box']:
    y_list = []
    y_list.append(data['analyzeResult']['readResults'][0]['lines'][box]['boundingBox'][1])
    y_list.append(data['analyzeResult']['readResults'][0]['lines'][box]['boundingBox'][3])
    y_list.append(data['analyzeResult']['readResults'][0]['lines'][box]['boundingBox'][5])
    y_list.append(data['analyzeResult']['readResults'][0]['lines'][box]['boundingBox'][7])

    y_avg.append(statistics.mean(y_list))

col_11_df["y_avg"] = y_avg

#add names to table based on y_avg location
col_11_full = ["place_holder"] * len(table)

for i, j in number_df.iterrows():
    for k, l in col_11_df.iterrows():
        if j['y_top'] < l['y_avg'] < j['y_bot']:
            print("Row", i, "is", l['line'])
            if len(col_11_full[i]) == 12:
                col_11_full[i]=[l['line']]
            else:
                col_11_full[i].append(l['line'])
            continue

Row 0 is Haber 872
Row 1 is 87/ 8
Row 1 is =
Row 3 is 41
Row 3 is 869.
Row 4 is 三
Row 6 is 867
Row 7 is 866
Row 8 is Chandler 11
Row 9 is Bulmer 939
Row 10 is BAKcomb 107
Row 11 is Huber 897
Row 12 is Ho€€ 56
Row 13 is Huber 878
Row 14 is Hott 4
Row 15 is Balcond 108
Row 16 is Huber 899
Row 17 is 1 1 900
Row 18 is 901
Row 19 is Hoff 57
Row 20 is Huber 902
Row 21 is 903
Row 22 is 904
Row 23 is 905
Row 24 is Hote 58
Row 25 is Huber 906
Row 26 is 907
Row 27 is Hoff 59:
Row 28 is 11 605

In [326]:
table['col_11'] = col_11_full

In [327]:
table

,number,name,sex,date,geo,weight,fat_con,reproduction,remarks,col_10,col_11
0,23 16,SterNA fuscAtA,-,[17 duly],[00 50'N 176 20W],[159.0],place_holder,place_holder,place_holder,[Alco],[Haber 872]
1,17,place_holder,-,place_holder,[=],[162.6],place_holder,place_holder,place_holder,[11],"[87/ 8, =]"
2,18,place_holder,-,[11],place_holder,[11.3],place_holder,place_holder,place_holder,place_holder,place_holder
3,19,place_holder,-,place_holder,[0048'N 176 33/0],[147.9],place_holder,place_holder,place_holder,place_holder,"[41, 869.]"
4,20,place_holder,-,place_holder,"[0 0 42'N 176"" 16' W]",[166.7],place_holder,place_holder,place_holder,place_holder,[三]
5,21,place_holder,No,[=],[OOHI'N 176º15'0],[187],place_holder,place_holder,"[Fus # 843-39034, 18luz print, S]",[SKIN],place_holder
6,22,place_holder,-,place_holder,place_holder,[203],place_holder,place_holder,place_holder,[Alco],[867]
7,23,place_holder,place_holder,place_holder,[@ 30 N 1750 38' W],[157.4],place_holder,place_holder,place_holder,place_holder,[866]
8,24,FregatA Ariel,87,[=],[0'27 N 1750 29/W],place_holder,place_holder,"[TIL9x 11 mm, RT 18X / 3MM]",[5],[Skin],[Chandler 11]
9,25,place_holder,0+,place_holder,[00 27'N / 750 29/W],place_holder,[Mod],[L. OUum 2x 2mm],[5],place_holder,[Bulmer 939]
10,26,Pt. h. NigripINNis,No,[=],[0 0 08N 175 0 54W],[871],[heavy],[L. 15>+15 1X 2mm],[BS],place_holder,[BAKcomb 107]
11,27,StarNA fuscAtA,-,[18 July],[0º HON 1760 5210],[34],place_holder,place_holder,place_holder,[Alco],[Huber 897]
12,28,place_holder,No,place_holder,[0º 38'₪ 1760 54'w],[160],[Light],[+$ *** 5 4×3mm],[5],[Skal],[Ho€€ 56]
13,29,place_holder,place_holder,place_holder,[035' N 1770 01 W],[147],place_holder,place_holder,place_holder,[Alco],[Huber 878]
14,30,PhAsthow rubricAndA,place_holder,place_holder,[10 14'N 1750 56'W],[920],[LEAvy],[L. ouum4min],[S],place_holder,[Hott 4]
15,3/,Pt. L. NigripsUNIT,place_holder,[1'],[00 03' N 1780 l'W],[152],[heavy],[1.+25+15 1× 1 mm],[4-014],[SKIN],[Balcond 108]
16,32,StarNA fuSCATA,-,[19 July],[0 0 29'N 176 0 48W],[197],place_holder,place_holder,place_holder,[Alco],[Huber 899]
17,33,place_holder,place_holder,place_holder,[00 30'N 176º 470],[193],place_holder,place_holder,place_holder,[1.1],[1 1 900]
18,34,place_holder,-,place_holder,[11],[184],place_holder,place_holder,[CN],place_holder,[901]
19,35,11,0+,place_holder,[0º 34'₪ 176º 44'w],[198],[hlavy],[Qvary 10x5mm],[5],place_holder,[Hoff 57]
20,36,place_holder,place_holder,[20 July],[6º OS'N 1720 41'W],[187],place_holder,place_holder,place_holder,[Alco],[Huber 902]
21,37,place_holder,place_holder,[=],[00 18'N 1760 41 W],[19 2],place_holder,place_holder,place_holder,place_holder,[903]
22,38,place_holder,place_holder,place_holder,[20 ~ 1760 41w],[168],place_holder,place_holder,place_holder,place_holder,[904]
23,39,place_holder,-,[=],[26' N 1760 4 1'W],[216],place_holder,place_holder,place_holder,[=],[905]
24,40,11,-,[21 July],[30'N 1760 31'W],[79],[HEAVY],[gowAds destroyed],[3 5],[Skal],[Hote 58]
25,41,place_holder,place_holder,[1!],[28N 172 31'00],[7/],place_holder,place_holder,place_holder,[Alco],[Huber 906]
26,42,place_holder,-,place_holder,[0 28'N 17 6 º 31'W],[169],place_holder,place_holder,place_holder,[1/],[907]
27,43,place_holder,place_holder,place_holder,place_holder,[197],[Light],[725 /55 5×4 0mm],place_holder,[Skal],[Hoff 59:]
28,44,place_holder,place_holder,[11],[11],[173],[Light],[BP complete],[M],place_holder,[11 605]

In [329]:
#remove "place_holder"
table = table.replace("place_holder", np.nan)
table

,number,name,sex,date,geo,weight,fat_con,reproduction,remarks,col_10,col_11
0,23 16,SterNA fuscAtA,-,[17 duly],[00 50'N 176 20W],[159.0],NaN,NaN,NaN,[Alco],[Haber 872]
1,17,NaN,-,NaN,[=],[162.6],NaN,NaN,NaN,[11],"[87/ 8, =]"
2,18,NaN,-,[11],NaN,[11.3],NaN,NaN,NaN,NaN,NaN
3,19,NaN,-,NaN,[0048'N 176 33/0],[147.9],NaN,NaN,NaN,NaN,"[41, 869.]"
4,20,NaN,-,NaN,"[0 0 42'N 176"" 16' W]",[166.7],NaN,NaN,NaN,NaN,[三]
5,21,NaN,No,[=],[OOHI'N 176º15'0],[187],NaN,NaN,"[Fus # 843-39034, 18luz print, S]",[SKIN],NaN
6,22,NaN,-,NaN,NaN,[203],NaN,NaN,NaN,[Alco],[867]
7,23,NaN,NaN,NaN,[@ 30 N 1750 38' W],[157.4],NaN,NaN,NaN,NaN,[866]
8,24,FregatA Ariel,87,[=],[0'27 N 1750 29/W],NaN,NaN,"[TIL9x 11 mm, RT 18X / 3MM]",[5],[Skin],[Chandler 11]
9,25,NaN,0+,NaN,[00 27'N / 750 29/W],NaN,[Mod],[L. OUum 2x 2mm],[5],NaN,[Bulmer 939]
10,26,Pt. h. NigripINNis,No,[=],[0 0 08N 175 0 54W],[871],[heavy],[L. 15>+15 1X 2mm],[BS],NaN,[BAKcomb 107]
11,27,StarNA fuscAtA,-,[18 July],[0º HON 1760 5210],[34],NaN,NaN,NaN,[Alco],[Huber 897]
12,28,NaN,No,NaN,[0º 38'₪ 1760 54'w],[160],[Light],[+$ *** 5 4×3mm],[5],[Skal],[Ho€€ 56]
13,29,NaN,NaN,NaN,[035' N 1770 01 W],[147],NaN,NaN,NaN,[Alco],[Huber 878]
14,30,PhAsthow rubricAndA,NaN,NaN,[10 14'N 1750 56'W],[920],[LEAvy],[L. ouum4min],[S],NaN,[Hott 4]
15,3/,Pt. L. NigripsUNIT,NaN,[1'],[00 03' N 1780 l'W],[152],[heavy],[1.+25+15 1× 1 mm],[4-014],[SKIN],[Balcond 108]
16,32,StarNA fuSCATA,-,[19 July],[0 0 29'N 176 0 48W],[197],NaN,NaN,NaN,[Alco],[Huber 899]
17,33,NaN,NaN,NaN,[00 30'N 176º 470],[193],NaN,NaN,NaN,[1.1],[1 1 900]
18,34,NaN,-,NaN,[11],[184],NaN,NaN,[CN],NaN,[901]
19,35,11,0+,NaN,[0º 34'₪ 176º 44'w],[198],[hlavy],[Qvary 10x5mm],[5],NaN,[Hoff 57]
20,36,NaN,NaN,[20 July],[6º OS'N 1720 41'W],[187],NaN,NaN,NaN,[Alco],[Huber 902]
21,37,NaN,NaN,[=],[00 18'N 1760 41 W],[19 2],NaN,NaN,NaN,NaN,[903]
22,38,NaN,NaN,NaN,[20 ~ 1760 41w],[168],NaN,NaN,NaN,NaN,[904]
23,39,NaN,-,[=],[26' N 1760 4 1'W],[216],NaN,NaN,NaN,[=],[905]
24,40,11,-,[21 July],[30'N 1760 31'W],[79],[HEAVY],[gowAds destroyed],[3 5],[Skal],[Hote 58]
25,41,NaN,NaN,[1!],[28N 172 31'00],[7/],NaN,NaN,NaN,[Alco],[Huber 906]
26,42,NaN,-,NaN,[0 28'N 17 6 º 31'W],[169],NaN,NaN,NaN,[1/],[907]
27,43,NaN,NaN,NaN,NaN,[197],[Light],[725 /55 5×4 0mm],NaN,[Skal],[Hoff 59:]
28,44,NaN,NaN,[11],[11],[173],[Light],[BP complete],[M],NaN,[11 605]

In [330]:
#save to test dir
table.to_csv("sea19631966196800natib_0006.csv", index = False)